<div class="container d-flex flex-column justify-content-start align-items-center">
  <% if @cart.products.any? %>
    <%= render @cart %>
  <% else %>
    <%= render "empty_cart" %>
  <% end %>
</div>