<h1>Mon Panier</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <div>
        <%= image_tag(product.image, alt: product.name, class: 'img-fluid',:size => "200x150") %>
        <p>Nom du produit: <%= product.name %></p>
        <p>Prix du produit: <%= product.price %>€</p>
      </div>
    </li>
  <% end %>
</ul>
