<div class="product-show">
  <%= image_tag(@product.image, alt: @product.name, class: 'img-fluid', size: "800x600") %>
  <h2><%= @product.name %></h2>
  <p><%= @product.description %></p>
  <p><%= @product.price %> €</p>
</div>
