<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="card-title">Thank you for your purchase</h3>
        </div>
        <div class="card-body">
          <h4 class="card-text">You have paid <strong>€<%= @amount / 100.0 %></strong> !</h4>
        </div>
      </div>
    </div>
  </div>
</div>
